/* pages/recycleguide/recycleguide.wxss */

page {
    font-family: '微软雅黑';
    width: 94%;
    margin: auto;
}

.main-box {
    background: #fff;
}

.container-guide {
    background: white;
    height: 130rpx;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.pic {
    padding-top: 125rpx;
}

.container-guide .onetap {
    font-size: 25rpx;
    color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.im {
    width: 100%;
    text-align: center;
}
